@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-gold: #EAB308;
}

@layer base {
  body {
    @apply bg-brand-dark text-slate-200 antialiased;
    font-family: 'Inter', system-ui, sans-serif;
  }
}

/* Custom Premium Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--brand-gold);
}